


<section class="section-padding bg-light-white booking-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabs">
                    <app-flight-booking-payment></app-flight-booking-payment>
                          
                    <ul ngbNav #nav="ngbNav" class="custom-flex nav nav-tabs">
                       
                        <li [ngbNavItem]="1">
                          
                            <ng-template ngbNavContent>
                            </ng-template>
                        </li>
                       
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>
</section>