.o1 {
  order: 1;
}

.o2 {
  order: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .o1 {
    order: 2;
  }

  .o2 {
    order: 1;
  }
}

.text-right{
  text-align: end;
}



.arr_des {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.mid-gap {
  padding-left: 20px;
  padding-right: 20px;
}

.time_value {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
}

.stop {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}




.mimage {
  width: 100px;
  height: 50px;
  padding-left: 2px;
  object-fit: fill;
  padding-right: 4px;
}

.sidebar_wrap .sidebar .sidebar_widgets {
  padding-top: 10px;
  background: none;
  border: none;
  box-shadow: none;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

@media (min-width:320px) {

  .flights-grid .flights-grid-wrapper .flights-grid-caption .heading-sec .right-side .price,
  .cruise-grid .cruise-grid-wrapper .cruise-grid-caption .price,
  .hotel-grid .hotel-grid-wrapper .hotel-grid-caption .price {
    text-align: center !important;
    top: 20px !important;
  }

  .mimage {
    width: 166px;
    height: 54px;
    padding-left: 2px;
    object-fit: fill;
    padding-right: 4px;
    padding-bottom: 6px;
  }
}

.form-control-custom{
  border-radius: 0px!important;
}

.btn-first {
  display: inline-block;
  padding: 4px 27px;
}

.ng-select.custom ::ng-deep .ng-select-container  {            

  border:0px;
  min-height: 0px;
  border-radius: 0;
  height: 40px;
  background: #f5f5f5;
}


div.loader{
  position: relative;
  margin-left: 92px;
}

div.loader span{
  position: absolute;
  width: 6px;
  height: 90px;
  margin-top: -45px;
  border-radius: 10px;
  background-color: #60b8ba;
  animation: animate 0.8s infinite;
  animation-direction: alternate-reverse;
}

div.loader span:nth-child(1){
  margin-left: 0px;
}

div.loader span:nth-child(2){
  margin-left: -14px;
  animation-delay: 0.1s;
}

div.loader span:nth-child(3){
  margin-left: -28px;
  animation-delay: 0.2s;
}

div.loader span:nth-child(4){
  margin-left: -42px;
  animation-delay: 0.3s;
}

div.loader span:nth-child(5){
  margin-left: -56px;
  animation-delay: 0.4s;
}

div.loader span:nth-child(6){
  margin-left: -70px;
  animation-delay: 0.5s;
}

div.loader span:nth-child(7){
  margin-left: -84px;
  animation-delay: 0.6s;
}

div.loader span:nth-child(8){
  margin-left: -98px;
  animation-delay: 0.7s;
}

@keyframes animate{
  0%{
      height: 5px;
      margin-top: 0;
      transform: rotate(40deg);
  }
  100%{
      height: 90px;
       transform: rotate(0deg);
  }
}