<div class="row pl-0 pr-0">
    <div class="col-md-8">
        <div class="card-tra-det">
            <h5 class="mb-0 pb-0">Traveller details</h5>
            <div class="card-body">
                <!----Adult 1-->
                <div class="mb-md-80">
                    <div class="row ml-0 mr-0">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">DOB</th>
                                            <th scope="col">Passport </th>
                                            <th scope="col"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let adult of adultArr ; let i = index">
                                            <th> Adult-{{i+1}}</th>
                                            <td>{{adult.title}} {{adult.firstname}} {{ adult.lastname}}</td>
                                            <td>{{adult.dob||'NA'}}</td>
                                            <td>{{adult.passport||'NA'}}</td>
                                            <td class="text-right">
                                                <i class="fa fa-edit mr-2" (click)="editData()"></i> <i
                                                    class="fa fa-eye"></i></td>
                                        </tr>
                                        <tr *ngFor="let child of childArr ; let i = index">
                                            <th> Child-{{i+1}}</th>
                                            <td>{{child.title}} {{child.firstname}} {{ child.lastname}}</td>
                                            <td>{{child.dob||'NA'}}</td>
                                            <td>{{child.passport||'NA'}}</td>
                                            <td class="text-right">
                                                <i class="fa fa-edit mr-2" (click)="editData()"></i> <i
                                                    class="fa fa-eye"></i></td>
                                        </tr>

                                        <tr *ngFor="let infant of infantArr; let i = index">
                                            <th> Infant-{{i+1}}</th>
                                            <td>{{infant.title}} {{infant.firstname}} {{ infant.lastname}}</td>
                                            <td>{{infant.dob||'NA'}}</td>
                                            <td>{{infant.passport||'NA'}}</td>
                                            <td class="text-right">
                                                <i class="fa fa-edit mr-2" (click)="editData()"></i> <i
                                                    class="fa fa-eye"></i></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!--------------Enter contact details--------------------->
        <div class="card-tra-det">
            <h5 class="mb-0 ">Enter contact details</h5>
            <div class="card-body">
                <div class="row frm-1 d-flex">
                    <div class="col-md-6">
                        <label class="lable-1">Email address</label>
                        <div class="d-flex">

                            {{confirmBookFlightData?.email}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="lable-1">Mobile number</label>
                        <div class="d-flex">
                            {{confirmBookFlightData?.phone}}

                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                             <button class="btn btn-primary">Credit Card</button>
                            </div> 
                            <div class="col-md-3">
                                <button class="btn btn-primary"(click)="multiBanco()" >Multi Banco</button>
                  
                            </div> 
                            <div class="col-md-3">
                                <button class="btn btn-primary">Bancontact</button>
                  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <hr>
                        <h5 class="text-custom-black">Your Card Information</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row" >
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fs-14 text-custom-black fw-500">Card Holder Name</label>
                                    <input type="text"  class="form-control "
                                        placeholder="Card Holder Name"  [(ngModel)]="_holderNameDEtails">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fs-14 text-custom-black fw-500">Card Number</label>
                                    <input type="text" class="form-control "  [(ngModel)]="_CardNumber"
                                        placeholder="Card Number" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Month</label>
                                            <div class="group-form">
                                                <select class=" form-control "  [(ngModel)]="cardExpiry"
                                                 >
                                                    <option value="Month" disabled selected>Month</option>
                                                    <option value="1">Jan</option>
                                                    <option value="2">Feb</option>
                                                    <option value="3">Mar</option>
                                                    <option value="4">Apr</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">Aug</option>
                                                    <option value="9">Sep</option>
                                                    <option value="10">Oct</option>
                                                    <option value="11">Nov</option>
                                                    <option value="12">Dec</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Year</label>
                                            <div class="group-form">
                                                <select class=" form-control " [(ngModel)]="cardYear"
                                                  >
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Cvv</label>
                                            <div class="group-form">
                                                <input type="text" class=" form-control " [(ngModel)]="cvvNo">
                                                  
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                          
                            <div class="col-md-12 text-center">
                                <button (click)="Api_mybooking()"  class="btn btn-primary"> Submit </button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <ng-container *ngIf="paymentWindiow3d">
                                <iframe [src]="paymentWindiow3d" width="100%" height="500" style="border: 2px solid red;">
                    
                                </iframe>
                            </ng-container>
                        </div> -->
                       
                    </div>
                </div>


            </div>

        </div>
        <!--------------end contact details--------------------->
    </div>
    <div class="col-md-4 right-pane">
        <div class="">
            <div class=" sticky-top">
                <div class="add-to-card p-2 pl-3 pr-3">
                    <div class="row pb-2 pt-3">
                        <div class="col-8">
                            <span style="font-size: 20px;font-weight: 600;color: rgb(58, 58, 58);">Flight summary</span>
                        </div>
                        <div class="col-4 text-align-right">
                            <button class="flight-detl-rgt mt-2 btn-cancel" role="button" type="button"
                                (click)="viewData(modalViewPopUP,bookFlightItem)">Flight details</button>
                        </div>
                    </div>

                    <div class="row pb-2 pt-3 pr-3" style="border-bottom: 1px dashed rgb(204, 204, 204);">
                        <div class="col-3 pl-3 pr-0">
                            <img src="{{defaultImageAddress}}{{bookFlightItem.airline}}{{formatImage}}" class="img-fr1">

                        </div>
                        <div class="col-2">
                            <div class="box2" style="font-size: 13px;"> {{bookFlightItem.dep_time}}
                            </div>
                            <div class="sc-jkCMRl kLfzQC tj-tooltip__wrapper sc-rBLzX gpttxZ">
                                <div class="tj-tooltip__children sc-TFwJa cFsBnr">
                                    <div class="box-4-time" style="background-color: coral;">
                                        <span> {{bookFlightItem.dep_code}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="box3">
                                <p class="stop">
                                    Stops-{{bookFlightItem.stop}}&nbsp;
                                </p>
                            </div>
                            <i class="fas fa-fighter-jet flights-icon"></i>
                            <div class="box3-line"></div>
                            <div class="box-last">
                                <div>
                                    <div>
                                        <div>

                                            <p class="stop">
                                                <i class="fa fa-clock" style="font-size: 14px;"></i>
                                                {{bookFlightItem.totall_time}}

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="box2" style="font-size: 13px;">
                                {{bookFlightItem.arr_time}}
                            </div>
                            <div class="">
                                <div class="box-4-time">
                                    <span>{{bookFlightItem.arr_code}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ng-container *ngIf="bookFlightItem.flight_id_rt || bookFlightItem.return_date">
                        <div class="row pb-2 pt-3 pr-3" style="border-bottom: 1px dashed rgb(204, 204, 204);">
                            <div class="col-3 pl-3 pr-0">
                                <img src="{{defaultImageAddress}}{{bookFlightItem.airline2}}{{formatImage}}" class="">

                            </div>
                            <div class="col-2">
                                <div class="box2" style="font-size: 13px;"> {{bookFlightItem.dep_time2}}
                                </div>
                                <div class="sc-jkCMRl kLfzQC tj-tooltip__wrapper sc-rBLzX gpttxZ">
                                    <div class="tj-tooltip__children sc-TFwJa cFsBnr">
                                        <div class="box-4-time" style="background-color: coral;">
                                            <span> {{bookFlightItem.dep_code2}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="box3">
                                    <p class="stop">
                                        Stops-{{bookFlightItem.stop2}}&nbsp;
                                    </p>
                                </div>
                                <i class="fas fa-fighter-jet flights-icon"></i>
                                <div class="box3-line"></div>
                                <div class="box-last">
                                    <div>
                                        <div>
                                            <div>

                                                <p class="stop">
                                                    <i class="fa fa-clock" style="font-size: 14px;"></i>
                                                    {{bookFlightItem.totall_time2}}

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="box2" style="font-size: 13px;">
                                    {{bookFlightItem.arr_time2}}
                                </div>
                                <div class="">
                                    <div class="box-4-time">
                                        <span>{{bookFlightItem.arr_code2}}</span>
                                    </div>
                                </div>
                            </div>



                            <ng-container *ngIf="bookFlightItem.flight_id_rt || bookFlightItem.return_date">
                                <div class="search-result-leg-card" style="border-top: 1px solid rgb(223, 223, 223);">

                                </div>
                            </ng-container>

                        </div>
                    </ng-container>


                    <div class="row pb-2 pt-3">
                        <div class="col-6">
                            <span style="font-size: 20px; font-weight: 600;color: rgb(58, 58, 58);">Fare
                                details</span>
                        </div>
                        <div class="col-6 text-align-right">
                            <a href="" class="btn-cancel">Cancel & change</a>
                        </div>
                    </div>
                    <ng-container *ngFor="let adultForm of adultsArrayPrice; let i = index">
                        <div class="row mb-1">
                            <div class="col-6">
                                <span class="traveller1">Traveller (Adults)-{{i+1}} &nbsp;<i
                                        class="fas fa-chevron-down pl-1"></i></span>
                            </div>
                            <div class="col-6 text-align-right">
                                <span class="price-right">{{adultForm.totalFareAmount}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let childForm of childArrayPrice; let i = index">
                        <div class="row mb-1">
                            <div class="col-6">
                                <span class="traveller1">Traveller (Child)-{{i+1}} &nbsp; &nbsp;<i
                                        class="fas fa-chevron-down pl-1"></i></span>
                            </div>
                            <div class="col-6 text-align-right">
                                <span class="price-right">{{childForm.totalFareAmount}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let infantForm of infArrayPrice; let i = index">
                        <div class="row mb-1">
                            <div class="col-6">
                                <span class="traveller1">Traveller (Infant)-{{i+1}} &nbsp;<i
                                        class="fas fa-chevron-down pl-1"></i></span>
                            </div>
                            <div class="col-6 text-align-right">
                                <span class="price-right">{{infantForm.totalFareAmount}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-6">
                            <span class="left-side-text">Service fee <i class="far fa-info-circle"></i></span>
                        </div>
                        <div class="col-6 text-align-right">
                            <span class="price-right">EUR 40.00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="left-side-text">VAT <i class="far fa-info-circle"></i></span>
                        </div>
                        <div class="col-6 text-align-right">
                            <span class="price-right">EUR 0.00</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <span style="font-size: 14px;font-weight: bold;color: rgb(58, 58, 58);">Total (incl.
                                VAT)</span>
                        </div>
                        <div class="col-6 text-align-right" >
                            <span class="price-right" style="font-size: 18px;">EUR {{bookFlightItem.price}}</span>
                        </div>
                    </div>



                    <div class="row pl-3 pr-3 pt-3">
                        <button class="add-submit"(click)="onPaymentConfirmSubmitData(bookFlightItem)" type="submit">
                            Continue to final details
                            <i class="fas fa-chevron-right pl-1"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>







<ng-template #modalViewPopUP let-modal>

    <div class="modal-content modal-body-md border-md">
        <button type="button" class="close-btn-md clos-md" (click)="modal.dismiss('Cross click')">

            <span aria-hidden="true">close</span>
        </button>

        <div class="row">
            <div class="col-12">
                <div class="flight-mid-md p-3">
                    <button type="button" class="btn-md-flgt" (click)="changeFightMidButton('Flight_itinerary')">Flight
                        itinerary</button>
                    <button type="button" class="btn-md-flgt" (click)="changeFightMidButton('Baggage_info')">Baggage
                        info</button>
                    <button type="button" class="btn-md-flgt" (click)="changeFightMidButton('Cancel_&_change')">Cancel &
                        change</button>
                    <button type="button" class="btn-md-flgt" (click)="changeFightMidButton('Fare_details')">Fare
                        details</button>
                </div>
            </div>
        </div>

        <ng-container *ngIf="ButtonMidChange=='Flight_itinerary'">
            <div>
                <div *ngFor="let item of viewDataAll">
                    <div>
                        <div class="d-flex dis-box-2">
                            <div class="dept">
                                <div *ngIf="item.index_arr && item.index_dep"><i style="margin-right: 8px;"
                                        class="fa fa-fighter-jet"></i>
                                    <span style="font-weight: bold;">{{item.index_dep}} </span>
                                    <i style="margin-right: 8px;" class="fa fa-long-arrow-right"></i>
                                    <span style="font-weight: bold;"> {{item.index_arr}}</span>
                                </div>
                            </div>
                            <div *ngIf="item.totalltime">

                                Total duration <span style="font-weight: bold;"> {{item.totalltime}}</span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div style="display: flex; margin-bottom: 20px;">
                                <div style="flex: 0.9 1 0%; padding-right: 20px;">
                                    <div style="display: flex;align-items: flex-start;">
                                        <img src="{{defaultImageAddress}}{{item.from_Carrier}}{{formatImage}}"
                                            class="img-fr" style="height: 50px;">
                                        <div>

                                            <div style="font-weight:100;">
                                                {{item.from_Carrier}}-{{item.from_FlightNumber}}</div>
                                            <div style="font-weight:100;">{{item.cabin}}</div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="flex: 0.9 1 0%;padding-right: 20px;">
                                    <div style="font-size: 14px;">

                                        <span style="font-weight: bold;
                                                    ">{{item.from_Origin}} {{item.from_flight_time}}</span>
                                        <span></span>
                                    </div>
                                    <div class="timing-text">
                                        {{item.from_weekday}}, {{item.from_flight_date}}
                                    </div>
                                    <span> {{item.from_airportname}}
                                        {{item.from_terminal}}</span><br>
                                    <span style="font-weight:100;">
                                        {{item.from_cityName}}, {{item.from_countryName}}</span>
                                </div>
                                <div style="flex: 0.9 1 0%;padding-right: 20px;">
                                    <div style="font-size: 14px;">
                                        <span class="orange-bva">{{item.to_Origin}}</span>
                                        <span style="font-weight: bold;
                                                    margin-left: 5px;">{{item.to_time_arrival}}</span>
                                        <span></span>
                                    </div>
                                    <div class="timing-text">
                                        {{item.to_weekday}}, {{item.to_date_arrival}}
                                    </div>
                                    <span> {{item.to_airportname}}
                                        {{item.to_terminal}}
                                    </span><br>
                                    <span style="font-weight:100;">
                                        {{item.to_cityName}}, {{item.to_countryName}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="yelooVividLight" *ngIf="item.transit_city">
                            <div style="text-align: center;">
                                <i style="margin-right: 8px;" class="fa fa-clock"></i>
                                Waiting time in<b>{{item.transit_city}}</b>
                            </div>
                            <div style="text-align: end;">
                                {{item.overlay_time}}
                            </div>
                        </div>

                        <hr *ngIf="item.overlay_time==''"
                            style="margin:0px; border:1px dashed rgb(102, 100, 100) ; margin-bottom: 5px;">
                    </div>

                </div>
                <div *ngFor="let item of viewDataAll2">
                    <div>
                        <div class="d-flex dis-box-2">
                            <div class="dept">
                                <div *ngIf="item.index_arr && item.index_dep"><i style="margin-right: 8px;"
                                        class="fa fa-fighter-jet"></i>
                                    <span style="font-weight: bold;">{{item.index_dep}} </span>
                                    <i style="margin-right: 8px;" class="fa fa-long-arrow-right"></i>
                                    <span style="font-weight: bold;"> {{item.index_arr}}</span>
                                </div>
                            </div>
                            <div *ngIf="item.totalltime">

                                Total duration <span style="font-weight: bold;"> {{item.totalltime}}</span>
                            </div>
                        </div>
                        <div>
                            <div style="display: flex; margin-bottom: 20px;">
                                <div style="flex: 0.9 1 0%; padding-right: 20px;">
                                    <div style="display: flex;align-items: flex-start;">
                                        <img src="{{defaultImageAddress}}{{item.from_Carrier}}{{formatImage}}"
                                            class="img-fr" style="height: 50px;">
                                        <div>

                                            <div style="font-weight:100;">
                                                {{item.from_Carrier}}-{{item.from_FlightNumber}}</div>
                                            <div style="font-weight:100;">{{item.cabin}}</div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="flex: 0.9 1 0%;padding-right: 20px;">
                                    <div style="font-size: 14px;">

                                        <span style="font-weight: bold;
                                            ">{{item.from_Origin}} {{item.from_flight_time}}</span>
                                        <span></span>
                                    </div>
                                    <div class="timing-text">
                                        {{item.from_weekday}}, {{item.from_flight_date}}
                                    </div>
                                    <span> {{item.from_airportname}}
                                        {{item.from_terminal}}</span><br>
                                    <span style="font-weight:100;">
                                        {{item.from_cityName}}, {{item.from_countryName}}</span>
                                </div>
                                <div style="flex: 0.9 1 0%;padding-right: 20px;">
                                    <div style="font-size: 14px;">
                                        <span class="orange-bva">{{item.to_Origin}}</span>
                                        <span style="font-weight: bold;
                                            margin-left: 5px;">{{item.to_time_arrival}}</span>
                                        <span></span>
                                    </div>
                                    <div class="timing-text">
                                        {{item.to_weekday}}, {{item.to_date_arrival}}
                                    </div>
                                    <span> {{item.to_airportname}}
                                        {{item.to_terminal}}
                                    </span><br>
                                    <span style="font-weight:100;">
                                        {{item.to_cityName}}, {{item.to_countryName}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="yelooVividLight" *ngIf="item.transit_city">
                            <div style="text-align: center;">
                                <i style="margin-right: 8px;" class="fa fa-clock"></i>
                                Waiting time in<b>{{item.transit_city}}</b>
                            </div>
                            <div style="text-align: end;">
                                {{item.overlay_time}}
                            </div>
                        </div>

                        <hr *ngIf="item.overlay_time==''"
                            style="margin:0px; border:1px dashed rgb(102, 100, 100) ; margin-bottom: 5px;">
                    </div>

                    <!-- <div *ngFor="let allindex1 of indexAll">

                            {{allindex1.airline_cod}}
                            {{allindex1.dep_arr}}
                            {{allindex1.dep_time}}
                            {{allindex1.index_arr}}
                            {{allindex1.index_dep}}
                        </div>

                        <div *ngFor="let allindex2 of indexAll2">


                            {{allindex2.airline_cod}}
                            {{allindex2.dep_arr}}
                            {{allindex2.dep_time}}
                            {{allindex2.index_arr}}
                            {{allindex2.index_dep}}

                        </div> -->

                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="ButtonMidChange=='Fare_details'">
            <div class="p-4">
                <ng-container *ngFor="let adultForm of adultsArrayPrice; let i = index">
                    <div class="row mb-1">
                        <div class="col-6">
                            <span class="traveller1">Traveller (Adults)-{{i+1}} &nbsp;<i
                                    class="fas fa-chevron-down pl-1"></i></span>
                        </div>
                        <div class="col-6 text-align-right">
                            <span class="price-right">{{adultForm.totalFareAmount}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngFor="let childForm of childArrayPrice; let i = index">
                    <div class="row mb-1">
                        <div class="col-6">
                            <span class="traveller1">Traveller (Child)-{{i+1}} &nbsp; &nbsp;<i
                                    class="fas fa-chevron-down pl-1"></i></span>
                        </div>
                        <div class="col-6 text-align-right">
                            <span class="price-right">{{childForm.totalFareAmount}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngFor="let infantForm of infArrayPrice; let i = index">
                    <div class="row mb-1">
                        <div class="col-6">
                            <span class="traveller1">Traveller (Infant)-{{i+1}} &nbsp;<i
                                    class="fas fa-chevron-down pl-1"></i></span>
                        </div>
                        <div class="col-6 text-align-right">
                            <span class="price-right">{{infantForm.totalFareAmount}}</span>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-6">
                        <span class="left-side-text">Service fee <i class="far fa-info-circle"></i></span>
                    </div>
                    <div class="col-6 text-align-right">
                        <span class="price-right">EUR 40.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="left-side-text">VAT <i class="far fa-info-circle"></i></span>
                    </div>
                    <div class="col-6 text-align-right">
                        <span class="price-right">EUR 0.00</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <span style="font-size: 14px;font-weight: bold;color: rgb(58, 58, 58);">Total (incl.
                            VAT)</span>
                    </div>
                    <div class="col-6 text-align-right">
                        <span class="price-right" style="font-size: 18px;">EUR {{bookFlightItem.price}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="ButtonMidChange=='Cancel_&_change'">
            <div class="p-4">
                Cancel_&_change
            </div>
        </ng-container>
        <ng-container *ngIf="ButtonMidChange=='Baggage_info'">
            <div class="p-4">
                Baggage_info
            </div>
        </ng-container>







    </div>

    <!-----Modal------>

</ng-template>


<ng-template #modalPaytmentConfirm let-modal>
    <button type="button" class="float-right close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span class="float-right mt-1 mr-2" aria-hidden="true">&times;</span>
    </button>
  
  <div class="modal-body">
    <ng-container *ngIf="paymentWindiow3d">
        <iframe [src]="paymentWindiow3d" width="100%" height="500" style="border: 2px solid red;">

        </iframe>
    </ng-container>
    <ng-container *ngIf="!paymentWindiow3d">
        fetch the Payment thing

  </ng-container>
  </div>
  
  </ng-template>


  <ng-template #modalBancoModalAfterConfirm let-modal>
    <button type="button" class="float-right close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span class="float-right mt-1 mr-2" aria-hidden="true">&times;</span>
    </button>
  
  <div class="modal-body">
   
        {{count}}

  </div>
  
  </ng-template>






















































<!-- <div class="tab-inner">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-12 col-lg-12 mb-2 pb-2" *ngFor="let adult of adultArr ; let i = index">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title align-items-center mb-2">Adult -{{i+1}}</h6>
                                <i (click)="editData()" class="fa fa-edit"></i>
                            </div>

                            <hr class="mb-0 mt-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Name</label>
                                    <p class="text-muted">{{adult.title}} {{adult.firstname}} {{ adult.lastname}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">DOB</label>
                                    <p class="text-muted">{{adult.dob||'NA'}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Passport</label>
                                    <p class="text-muted">{{adult.passport||'NA'}}</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12  mb-2 pb-2" *ngFor="let child of childArr ; let i = index">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title align-items-center mb-2">Child -{{i+1}}</h6>
                                <i (click)="editData()" class="fa fa-edit"></i>
                            </div>
                            <hr class="mb-0 mt-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Name</label>
                                    <p class="text-muted">{{child.title}} {{child.firstname}} {{ child.lastname}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">DOB</label>
                                    <p class="text-muted">{{child.dob||'NA'}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Passport</label>
                                    <p class="text-muted">{{child.passport||'NA'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-12  mb-2 pb-2" *ngFor="let infant of infantArr; let i = index">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title align-items-center mb-2">Infant -{{i+1}}</h6>
                                <i (click)="editData()" class="fa fa-edit"></i>
                            </div>

                            <hr class="mb-0 mt-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Name</label>
                                    <p class="text-muted">{{infant.title}} {{infant.firstname}} {{ infant.lastname}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">DOB</label>
                                    <p class="text-muted">{{infant.dob||'NA'}}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="tx-11 font-weight-bold mb-0 text-uppercase">Passport</label>
                                    <p class="text-muted">{{infant.passport||'NA'}}</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">


            <div class="row">
                <div class="col-md-12">
                    <div class="flights-grid mb-xl-30">
                        <div class="flights-grid-wrapper bx-wrapper">
                            <div class="flights-grid-caption bg-custom-white p-relative">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h6 class="card-tilte mb-1"> FARE DETAIL:</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="heading-sec row">
                                            <div class="col-md-6 border-bottom"> Base Price</div>
                                            <div class="col-md-6  border-bottom"> £366.00</div>
                                            <div class="col-md-6  border-bottom"> Taxes </div>
                                            <div class="col-md-6  border-bottom"> £68.00</div>
                                            <div class="col-md-6  border-bottom"> Flight Booking Charges </div>
                                            <div class="col-md-6  border-bottom"> £5.00</div>

                                        </div>
                                        <div class="card-footer row p-0 pt-1 pb-2">
                                            <div class="col-md-6"> Total Price: </div>
                                            <div class="col-md-6" > £439.00</div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" *ngIf="bookFlightItem">
                    <div class="flights-grid mb-xl-30">
                        <div class="flights-grid-wrapper bx-wrapper">
                            <div class="flights-grid-caption bg-custom-white p-relative">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="heading-sec row">
                                            <div class="left-side col-lg-6 col-6">

                                                <img src="{{defaultImageAddress}}{{bookFlightItem.airline}}{{formatImage}}"
                                                    style="object-fit: fill;">
                                            </div>
                                            <div class="right-side  col-lg-6 col-6 pr-3">
                                                <span class="price" style="margin-top: 0%; top: 0px!important;"><small
                                                        style="font-size: 15px;">Price</small><span
                                                        style="font-size: 30px;">{{bookFlightItem.price}}</span></span>
                                            </div>

                                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center mt-2 pt-2">
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.dep_time}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.dep_code}}</p>
                                                </div>
                                                <div class="mid-gap ">
                                                    <p class="stop">Stops-{{bookFlightItem.stop}}&nbsp;
                                                    </p>


                                                    <div class="d-flex mt-0 pt-0 mb-0 pb-0">
                                                        <span>-------------<i
                                                                class="fas fa-plane text-gray"></i>-------------</span>
                                                    </div>
                                                    <p class="stop"> {{bookFlightItem.baggage?bookFlightItem.baggage:0}}
                                                        Baggage</p>

                                                    <p class="stop">Duration-{{bookFlightItem.totall_time}}</p>
                                                </div>
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.arr_time}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.arr_code}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center mt-2 pt-2 border-top"
                                                *ngIf="bookFlightItem.flight_id_rt || bookFlightItem.return_date">
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.dep_time2}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.dep_code2}}</p>
                                                </div>
                                                <div class="mid-gap ">
                                                    <p class="stop">Stops-{{bookFlightItem.stop2}}&nbsp;
                                                    </p>
                                                    <div class="d-flex mt-0 pt-0 mb-0 pb-0">
                                                        <span>-------------<i class="fas fa-plane text-gray"
                                                                style="transform: rotate(180deg);"></i>-------------</span>
                                                    </div>
                                                    <p class="stop">
                                                        {{bookFlightItem.baggage2?bookFlightItem.baggage2:0}}
                                                        Baggage</p>

                                                    <p class="stop">Duration-{{bookFlightItem.totall_time2}}</p>
                                                </div>
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.arr_time2}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.arr_code2}}</p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="paymentUrl">
            <iframe [src]="paymentUrl" width="100%" height="500" style="border: 2px solid red;">

            </iframe>
        </ng-container>
    </div>
</div> -->