.o1 {
  order: 1;
}
.o2 {
  order: 1;
}
.brrrfdddf {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .btn-select-flght {
    padding: 0px 3px;font-size: 13px;
  }
  .flg-box{
    text-align: left;
  }
  .sar-text{
    text-align: left;}

  .flght-details{
    text-align: left;
  }
  .modal-body-md{
    max-width: 395px !important;
  }
  .btn-md-flgt{
    margin-top: 10px;
  }
  .o1 {
    order: 2;
  }

  .o2 {
    order: 1;
  }
}

.padding-20 {
  padding: 6px;
}

table th,
table td {
  border: 1px solid #dfdfdf;
  padding: 2px;
}

.arr_des {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.mid-gap {
  padding-left: 20px;
  padding-right: 20px;
}

.time_value {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
}

.stop {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}




.mimage {
  width: 100px;
  height: 50px;
  padding-left: 2px;
  object-fit: fill;
  padding-right: 4px;
}

.sidebar_wrap .sidebar .sidebar_widgets {
  padding-top: 10px;
  background: none;
  border: none;
  box-shadow: none;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

@media (min-width:320px) {
  .flights-grid .flights-grid-wrapper .flights-grid-caption .heading-sec .right-side .price,
  .cruise-grid .cruise-grid-wrapper .cruise-grid-caption .price,
  .hotel-grid .hotel-grid-wrapper .hotel-grid-caption .price {
    text-align: center !important;
    top: 20px !important;
  }

  .mimage {
    width: 166px;
    height: 54px;
    padding-left: 2px;
    object-fit: fill;
    padding-right: 4px;
    padding-bottom: 6px;
  }
}

.suggestion_box_item {
  z-index: 999 !important;
  position: absolute !important;
  background-color: white !important;
}

.suggestion_box_item div {
  cursor: pointer !important;
  opacity: 0.7 !important;
}

.suggestion_box_item div:hover {
  opacity: 1 !important;
}

.modal-content {
  position: relative; 
  display: flex;
  flex-direction: column; 
  width: auto; 
  height: auto;
  pointer-events: auto; 
  background-color: #fff; 
  background-clip: padding-box; 
  border: 1px solid rgba(0,0,0,.2); 
  border-radius: 0.3rem; 
  outline: 0;
 
}
.modal-body-md{
  width: 950px;
}
  .border-md{
    max-width: 950px;
  }


.close-btn-md{
  color: white;
  background: linear-gradient(to right, rgb(35, 165, 185), rgb(35, 165, 185)) rgb(35, 165, 185);
  border-color: rgb(35, 165, 185);
}
.clos-md {
  padding: 4px 10px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 0px;
  transform: translateY(-32px);
}
.flight-mid-md {
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  background-color: rgb(242, 242, 242);
}
.btn-md-flgt{
  background: rgb(226, 236, 238);
  border: 1.5px solid rgb(129, 178, 189);
  box-shadow: rgb(2 100 122 / 10%) 0px 1px 8px 0px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
  color: rgb(2, 100, 122);
  margin-right: 13px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  padding: 4px;
}
.btn-box-2{
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 12px;
  background-color: rgb(242, 242, 242);
}
.dept{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(58, 58, 58);
}
.orangeVividLight{
  display: flex;
  background: rgb(245, 166, 35);
  padding: 4px;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  border-radius: 2px;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0px;
}
.yelooVividLight{
  display: flex;
  background: rgb(218, 219, 146);
  padding: 4px;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  border-radius: 2px;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0px;
}
.hide-box-bttom{
  border-top: 1px solid rgb(228, 232, 237);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background: white;
  z-index: 1;
}
.select-flight{
  color: white;
    background: rgb(239, 64, 80);
    border: none;    min-width: 197px;
}
.hide-btn{
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: rgb(35, 165, 185);
  border: 1px solid rgb(35, 165, 185);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  padding: 8px 12px;    
}
.orange-bva{
  color: white;
    font-size: 14px;
    background: rgb(245, 166, 35);
    padding: 0px 3px;
    border-radius: 2px;
    text-align: center;
    min-width: 36px;
    font-weight: 600;
    display: inline-block;
}

.timing-text{
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dis-box-2{

    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(228, 232, 237);
}


label.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d4d4db;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 3px;
}

label.custom-checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(
45deg
);
}



.hr1 {
    margin: 4px 0;
}