<app-header></app-header>


<div class="row">
    <div class="col-md-12  side mb-4">
        <div class="table-responsive mt-3">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historyBooking">
                    <th scope="row">{{history.id}}</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
    

</div>
<app-footer></app-footer>