<app-header></app-header>
<router-outlet  ></router-outlet>
<!-- <app-content (isLoading)="isLoading($event)"></app-content> -->
<!-- <app-partners></app-partners> -->
<app-footer></app-footer>

<div *ngIf="loading" class="w-100 d-flex align-items-center justify-content-center"
    style="height: 100vh !important; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: white; z-index: 99;">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>