<div class="row">
    <div class="col-md-12  side mb-4">
        <div class="table-responsive mt-3">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">city</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">#</th>
                    <th scope="col">city</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historyBooking">
                    <th scope="row">{{history.id}}</th>
                    <td>{{history.client_id}}</td>
                    <td>{{history.pnr}}</td>
                    <td>{{history.name}}<br>{{history.number}}</td>
                    <td>{{history.amount}}  {{history.mode}} </td>
                    <td>{{history.bill}}</td>       
                   
                    <td>{{history.city}}</td>
                    <td>{{history.date}}</td>
 


                </tr>
               
            </tbody>
        </table>
    </div>
</div>
    

</div>